
 
 {% extends basehtmldir|add:"base.html" %} 


{% block extra_js %}
//set login link
                var current_path =  window.location.pathname;
                console.log(current_path);
                if(current_path === undefined || current_path == null || current_path.length <= 0 || current_path === '/' || current_path === '/accounts/login/'){
                current_path = "/human_GRCh38/";
                }
                else{
                console.log("not null and not undefined " + current_path);
                }
                var current_login_link = "/accounts/login?next="+current_path;
                $("#login_link").attr("href", current_login_link);
                console.log(current_login_link);
{% endblock extra_js %}

{% block content %}

	<div class="container-fluid">
	<div class="row col-md-4">

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        <p>The username and password provided is not valid/recognised. Please try again with valid credentials.</p>
        </div>
    {% endif %}

	<form class="form-horizontal" role="form" id="login_form" method="POST" action="{% url 'accounts:pydgin_auth.views.login_user' %}">
     {% csrf_token %}
     
     <div class="panel panel-default">
  		<div class="panel-heading">LOGIN</div>
  		<div class="panel-body">
      
	 	<div class="form-group form-group-md row">
	    	<label for="id_username" class="control-label col-md-2">{{ form.username.label_tag }}</label>
	    	<div class="col-md-10">
	     	 <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
	       	</div>
	  	</div>
	  	
	  	<div class="form-group form-group-md  row">
	    	<label for="id_password" class="control-label col-md-2">{{ form.password.label_tag }}</label>
	    	<div class="col-md-10">
	     	 <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
	    	</div>
	  	</div>
	  	
	    <div class="form-group  form-group-md row">
		    <div class="col-md-offset-2 col-md-10">
		      <button type="submit" class="btn btn-default">Sign in</button>
		       <input type="hidden" name="next" value="{{ next }}" />
		    </div>
	   </div>
  
    	</div>
 
    	
	</div>
        
    </form>
   <div class="well well-sm">
   <span class="help-block">New users, please <a href="/accounts/register">Register</a> by filling a simple form.</span>
   <span class="help-block">If you have forgotten your password, please <a href="/accounts/user/password/reset/">reset password</a> by filling a simple form.</span>
    </div>
   </div>
   


</div>
{% endblock %}
