{% extends basehtmldir|add:"base.html"%} 

{% block header_js %}
 <script language="javascript" type="text/javascript">
$(document).ready(function() {
                //for registration form
                $('#id_is_terms_agreed').click(function() {
        		// console.log('is terms clicked');
        		if ($(this).is(':checked')) {
           		 $('#register').removeAttr('disabled');
           		 $('#register').removeClass("commandExButtonDisabled");

       				 } else {
            	$('#register').attr('disabled', 'disabled');
            	$('#register').addClass("commandExButtonDisabled");
       			 }
   				 });
});    
</script>
{% endblock header_js %}

{% block header_css %}
<style type="text/css">
/*Style for terms & conditions */

div.terms_n_conditions { 
	height:200px; 
	border:1px solid #ccc; 
	background:#f2f2f2; 
	overflow-x:hidden; 
	overflow-y:auto; 
	font-size: medium; 
}

.commandExButtonDisabled {
    color: gray;
}

.errorText {
	color:  red;
	font-weight: bold;
}

</style>
{% endblock header_css %}


{% block title %}Register{% endblock %}
{% block content %}

	<div class="container-fluid">
	<div class="row col-md-6">
	
	<div class="panel panel-default">
  		<div class="panel-heading">New User Registration</div>
  		<div class="panel-body">


	<form class="form-horizontal" role="form" method="POST" action="/accounts/register/">
        {% csrf_token %}
        
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        	<p>{{ form.errors }}</p>
        </div>
    	{% endif %}
        
         	<div class="form-group form-group-md row">
	    	<label for="id_username" class="control-label col-md-2">{{ form.username.label_tag }}</label>
	    	<div class="col-md-4">
	     	 <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
	       	</div>
	       	<p class="text-muted">
  				Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.
			</p>
	  		</div>
	  		
	  		<div class="form-group form-group-md row">
	    	<label for="id_email" class="control-label col-md-2">E-mail address:</label>
	    	<div class="col-md-4">
	     	 <input type="text" class="form-control" id="id_email" name="email" placeholder="Email">
	       	</div>
	  		</div>
	  		
	  		<div class="form-group form-group-md  row">
	    	<label for="id_password1" class="control-label col-md-2">{{ form.password1.label_tag }}</label>
	    	<div class="col-md-4">
	     	 <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password1">
	    	</div>
	  		</div>
	  		
	  		<div class="form-group form-group-md  row">
	    	<label for="id_password2" class="control-label col-md-2">{{ form.password2.label_tag }}</label>
	    	<div class="col-md-4">
	     	 <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Password2">
	    	</div>
	    	<p class="text-muted">
  				 Enter the same password as above, for verification.
			</p>
	  		</div>
	  		
	  		<p class="text-muted">
  			Please read the data access agreement below, select the check-box to agree and click the 'Register and Log In' button.
			</p>
		
	  		<div class="form-group form-group-md  row">
  			<label for="terms_n_conditions" class="control-label col-md-2"">Data Access Agreement:</label>
  			<div id="terms_conditions_text" class="terms_n_conditions" rows="10" style="padding: 10px;">
  			 {{ terms_n_condition|safe }} 
  			</div>
			</div>
	  		
	              
            <div class="form-group form-group-md  row">
	    	<label for="id_is_terms_agreed" class="control-label col-md-2">{{ form.is_terms_agreed.label_tag }}</label>
	    	<div class="col-md-4">
	     	 <input type="checkbox" class="form-control" id="id_is_terms_agreed" name="is_terms_agreed">
	    	</div>
	  		</div>
	  		
	  		 <div class="form-group  form-group-md row">
		    <div class="col-md-offset-2 col-md-4">
		      <!--button type="submit" class="btn btn-default">Register</button-->
		      <!--input id="register" type="submit" value="Register and Login" disabled="disabled" class="commandExButtonDisabled"/-->
		       <button id="register" type="submit" value="Register and Login" disabled="disabled" type="submit" class="btn btn-default commandExButtonDisabled">Register</button>
		     </div>
	   </div>
	  		
	  		
	  		
         <!--table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}
                <span class="helptext"> Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span> </td>
            </tr>
            <tr>  
                <td></td>  
                <td><span class="errorText">{{ form.username.errors }}</span></td>
            </tr>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
             <tr>  
                <td></td>  
                <td><span class="errorText">{{ form.email.errors }}</span></td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
           </tr>
           <tr>  
                <td></td>  
                <td><span class="errorText">{{ form.password1.errors }}</span></td>
            </tr>
           
		   <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}<span class="helptext"> Enter the same password as above, for verification.</span></td>
           </tr>
            <tr>  
                <td></td>  
                <td><span class="errorText">{{ form.password2.errors }}</span></td>
            </tr>
            
            <tr>
		   <td colspan="4">Please read the data access agreement below, select the check-box to agree and click the 'Register and Log In' button.</td>
		   <td></td>
	        </tr>
	        
	        <tr>
		    <td></td>
		     <td>
		     <div id="terms_conditions_text" class="terms_n_conditions" style="padding: 10px;"> 
		     {{ terms_n_condition|safe }} 
		     </div>
		     </td>
	        </tr>
	          
            <tr>
            <td>{{ form.is_terms_agreed.label_tag }}</td>
            <td>{{ form.is_terms_agreed }}</td>
            </tr>
            
             <tr>  
                <td></td>  
                <td><span class="errorText">{{ form.is_terms_agreed.errors }}</span></td>
            </tr>
           
        </table-->

     
    </form>
    
    </div>
    </div>
    
 </div>
 </div>
    
 
 {% endblock %}